// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name {
	padding-bottom: 5px;
}
.drink {

}
.sugar {

}
.milk {
	
}
.strength {
	padding-bottom: 5px;
}


.form_name {
	padding-bottom: 5px;
}
.form_drink {
	padding-bottom: 15px;
}
.form_sugar {
	padding-bottom: 15px;
}
.form_milk {
	padding-bottom: 15px;	
}
.form_strength {
	padding-bottom: 15px;
}

 .status .admin {
	display: none;
}

.status.hover {}

.status.hover .admin {
	display: inline;
}











